/* Tablets  */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .about .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    width: 300px;
    margin: auto;
  }

  .services-head,
  .services-sub-head {
    text-align: center;
  }

  .social i {
    float: left;
    padding: 10px;
    margin-bottom: 20px;
  }

  .about .btn-dark {
    margin-top: 10px;
  }

  .contact input {
    width: 100%;
  }

  .contact textarea {
    width: 100%;
  }

  .contact h2 {
    margin-bottom: 20px;
  }

  .about img {
    width: 300px;
    margin: auto;
    padding: 10px;
  }
}

/* Mobiles */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
  }
}
